@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* custom colors from Figma */

		/* BASIC */
		--primary: 349, 100%, 58%;
		--primary-dark: 349, 92%, 42%;
		--primary-variant-judge: 25, 100%, 58%;
		--secondary: 249, 9%, 85%;
		--tertiary-dark: 246, 8%, 45%;
		--disabled: 251, 8%, 59%;

		/* BACKGROUND */
		--bg-primary: 0, 0%, 96%;
		--bg-primary-dark: 223, 30%, 5%;
		--bg-secondary: 240, 5%, 93%;
		--bg-secondary-dark: 230, 21%, 17%;
		--bg-secondary-medium: 246, 9%, 79%;
		--bg-secondary-ios: 240, 7%, 94%;
		--bg-tertiary-dark: 248, 18%, 25%;

		/* UTILITIES */
		--alert: 349, 83%, 51%;
		--success: 108, 100%, 38%;
		--online: 108, 79%, 49%;
		--warning: 43, 100%, 50%;
		--user-avatar: 191, 77%, 75%;

		/* HIGHLIGHTS */
		--bg-upload: 108, 75%, 87%;
		--bg-success: 107, 83%, 95%;
		--bg-error: 348, 100%, 96%;
		--bg-me: 228, 21%, 9%;
		--bg-widgets: 228, 21%, 9%;

		/* TEXT COLORS */
		--text-primary: 223, 30%, 5%;
		--text-primary-light: 248, 18%, 25%;
		--text-secondary: 227, 4%, 46%;
		--text-secondary-light: 240, 4%, 71%;
		--text-disabled: 0, 0%, 79%;

		/* DIVIDERS */
		--divider-dark: 248, 18%, 25%;
		--divider-medium: 249, 9%, 85%;

		/* ------------------------- */

		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--primary-foreground: 210 40% 98%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
